{
    "environment": "local",
    "local": {
        "PRIVATE_KEY": "YourPrivateKey",
        "RPC_URL": "http://127.0.0.1:8545",
        "BLOCKSCANNER_API_KEY": ""
    },
    "sepolia": {
        "PRIVATE_KEY": "YourPrivateKey",
        "RPC_URL": "https://sepolia.infura.io/v3/<YourInfuraProjectId>",
        "BLOCKSCANNER_API_KEY": "YourEtherscanAPIKey"
    },
    "mainnet": {
        "PRIVATE_KEY": "YourPrivateKey",
        "RPC_URL": "https://mainnet.infura.io/v3/<YourInfuraProjectId>",
        "BLOCKSCANNER_API_KEY": "YourEtherscanAPIKey"
    }
}